<head>
<title>Miniest URL</title>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link rel='stylesheet' href='main.css'>
</head>

<body>
  <p>Shorten my URL!</p>
  <div class='center row'>
    <form id='form'>
      <input id='oldurl' name='oldurl' type='text' autocomplete='off' spellcheck='false'></input>
    </form>
  </div>
  
  <p id='result'></p>
  
  
  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src='main.js'></script>
</body>