body{
  font-family: 'Roboto', sans-serif;
  padding-top: 10%;
  background: #003A44;
}

#oldurl.invalid{
  background: rgba(0,0,0,0.5) !important;
  transition: all 0.5s;
}

.row{
  display: flex;
}

.center{
  justify-content: center;
}

p{
  text-align: center;
  color: #C2DEE5;
}

#oldurl{
  border: none;
  border-bottom: 2px solid #C2DEE5;
  color: #C2DEE5;
  padding-left: 7px;
  padding-right: 7px;
  text-align: center;
  width: 300px;
  background: gray;
  background: none;
  transition: all 0.5s;
}

#oldurl:focus{
  outline: none;
  background: rgba(0,0,0,0.1);
}

a{
  color: #06565A;
}